#game {
  position: relative;
  height: 400px;
}

#upper-row {
  height: 60px;
}

#lower-row {
  height: 60px;
}

.shape {
  margin: 10px;
  width: 10%;
}

.title {
  color: blue;
  font-size: 100px;
  position: relative;
  font-family: "K26ToyBlocks123";
  float: left;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play {
  background-color: red;
  font-size: 40px;
}

#replay {
  background-color: red;
  font-size: 40px;
}

#square-blue {
  position: absolute;
  top: 47%;
  left: 25%;
}

#square-red {
  position: absolute;
  top: 10%;
  left: 65%;
}

#square-yellow {
  position: absolute;
  top: 1%;
  left: 5%;
}

#circle-red {
  position: absolute;
  top: 22%;
  left: 35%;
}

#circle-blue {
  position: absolute;
  top: 60%;
  left: 80%;
}

#circle-yellow {
  position: absolute;
  top: 50%;
  left: 2%;
}

#triangle-yellow {
  position: absolute;
  top: 60%;
  left: 40%;
}

#triangle-red {
  position: absolute;
  top: 55%;
  left: 60%;
}

#triangle-blue {
  position: absolute;
  top: 5%;
  left: 85%;
}

#sample-image {
  width: 50%;
}

#star-red {
  position: absolute;
  top: 29%;
  left: 73%;
}

#star-yellow {
  position: absolute;
  top: 70%;
  left: 10%;
}

#star-blue {
  position: absolute;
  top: 1%;
  left: 47%;
}

#hexagon-red {
  position: absolute;
  top: 27%;
  left: 10%;
}

#hexagon-yellow {
  position: absolute;
  top: 35%;
  left: 50%;
}

#hexagon-blue {
  position: absolute;
  top: 1%;
  left: 27%;
}
